.Card {
    margin: 0.3rem;
    padding: 1.5rem;

    width: 350px;

    border: solid 1px gray;
    border-radius: 1rem;
    box-shadow: 1px 1px aliceblue;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Card>h1,
.Card>p {
    color: white;
}

.Card h1 {
    font-size: 48px;
}

.Card>img {
    border-radius: 1rem;
    width: 300px
}